body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 'Barlow', sans-serif;
    color: #777;
  }

  h3,h2,h1 {
    margin:0;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #111;
    text-align:center;
  }


  .parallax{
    position: relative;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  #mainPanel {
    background-image: url("images/camera_system.jpg");
    min-height: 100%;
   
  }

#mainPanel{
  text-align:center;
  position:relative;
}  

#mainPanel div{
  position:absolute;
  width:100%;
  top:35%;
}

#mainPanel h1{
  color:white;
  font-size:60px;
    font-weight:800;
    letter-spacing: 3px;
}

#mainPanel h2{
    font-size:30px;
    margin-bottom:45px;
    font-weight:400;
    letter-spacing: 0px;
  color:#eee;
}

  
  .offeringPanel{
    color: #555;
    background-color:white;
    text-align:center;
    padding-top:50px;
    text-align: justify;
    position:relative;
    min-height:500px;
  }

.offeringPanel h2{
  font-size:35px;
  margin-bottom:30px;
}

.offeringPart h3{
  font-size:23px;
  letter-spacing: 1px;
}

  .offeringPart{
    text-align:center;
    width:300px;
    margin-left:calc((100% - 900px)/4);/*n+1*/
    position:relative;
    float:left;
    padding-bottom:50px;
  }

  #cooperationPanel{
    background-image: url("images/accountant.jpg");
    height:400px;
    padding-bottom:50px;
  }

#cooperationPanel h1{
  font-size:30px;
  width:100%;
  font-weight:800;
  color:white;
  text-shadow:1px 1px 1px #000;
  text-align:center;
  float:left;
  padding-bottom:20px;
}

#cooperationPanel .cooperationCell{
  width:300px;
  float:left;
  margin-left:calc((100% - 900px)/4);

  color:white;
  padding:15px;
  box-sizing:border-box;
  text-align:Center;
}

.cooperationCell h2{
  color:white;
  margin:0;
  margin-top:5px;
  margin-bottom:5px;
}

.cooperationCell img{
  margin:0 auto;
  position:relative;
  display:flex;
}


  @media only screen and (max-width: 900px) {
  .offeringPart {
    width:100%;
    margin-left:0;
    float:none;
  }
}
