body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .parallax{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  #mainPanel {
    background-image: url("images/camera_system.jpg");
    min-height: 100%;
  }



#mainPanel div{
  left:calc(50% - 260px);
  position:absolute;
  /*width:520px;*/
  width:100px;
  height:100px;
  background-color:rgba(0,0,0,0.9);
  padding:20px;
  top: calc(50% - 100px);
  animation-name: h1Expanding;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#mainPanel img{
  float:left;
}

#mainPanel h1{
    text-transform: none;
  color:#EEE;
    font-size:60px;
  float:left;
  line-height:100px;
  position:relative;
  margin:0;
  margin-left:20px;
    animation-name: h1Opacity;
  animation-duration: 0.75s;
  animation-delay: 1.25s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes h1Opacity{
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes h1Expanding {
  0%   {width:100px;}
  100% {width:520px;}
}

  


  h3,h2,h1 {
    letter-spacing: 3px;
    text-transform: uppercase;
    font: 25px "Lato", sans-serif;
    color: #111;
    text-align:center;
  }

  h2{
    font-size:30px;
    margin-bottom:45px;
    font-weight:800;
    letter-spacing: 5px;
  }
  
  .offeringPanel{
    color: #555;
    background-color:white;
    text-align:center;
    padding-top:50px;
    text-align: justify;
    position:relative;
    min-height:500px;
  }


  .offeringPart{
    text-align:center;
    width:300px;
    margin-left:calc((100% - 900px)/4);/*n+1*/
    position:relative;
    float:left;
    padding-bottom:50px;
  }

  #cooperationPanel{
    background-image: url("images/accountant.jpg");
    height:400px;
    padding-bottom:50px;
  }

#cooperationPanel h1{
  font-size:30px;
  width:100%;
  font-weight:800;
  color:white;
  text-shadow:1px 1px 1px #000;
  text-align:center;
  float:left;
  padding-bottom:20px;
}

#cooperationPanel .cooperationCell{
  width:300px;
  float:left;
  margin-left:calc((100% - 900px)/4);

  color:white;
  padding:15px;
  box-sizing:border-box;
  box-shadow:1px 1px 5px #000;
  background-color:rgba(0,0,0,0.8);
  text-align:Center;
}

.cooperationCell:nth-of-type(3){
  box-shadow:none !important;
  background-color:rgba(0,0,0,0) !important;
}

.cooperationCell h2{
  color:white;
  margin:0;
  margin-top:5px;
  margin-bottom:5px;
}

.cooperationCell img{
  margin:0 auto;
  position:relative;
  display:flex;
}


  @media only screen and (max-width: 900px) {
  .offeringPart {
    width:100%;
    margin-left:0;
    float:none;
  }
}
