body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
  }
  
  .parallax{
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
  }

  #mainPanel {
    background-image: url("images/camera_system.jpg");
    min-height: 100%;
  }

#mainPanel div{
  left:calc(50% - 260px);
  position:absolute;
  /*width:520px;*/
  width:100px;
  height:100px;
  background-color:rgba(0,0,0,0.9);
  padding:20px;
  top: calc(50% - 100px);
  animation-name: h1Expanding;
  animation-duration: 0.75s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

#mainPanel img{
  float:left;
}

#mainPanel h1{
    text-transform: none;
  color:#EEE;
    font-size:60px;
  float:left;
  line-height:100px;
  position:relative;
  margin:0;
  margin-left:20px;
    animation-name: h1Opacity;
  animation-duration: 0.75s;
  animation-delay: 1.25s;
  opacity:0;
  animation-fill-mode: forwards;
}

@keyframes h1Opacity{
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes h1Expanding {
  0%   {width:100px;}
  100% {width:520px;}
}

  
  h2{
    font-size:30px!important;
    margin-bottom:45px;
  }

  h3,h2,h1 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 25px "Lato", sans-serif;
    color: #111;
    text-align:center;
  }
  
  .offeringPanel{
    color: #555;
    background-color:white;
    text-align:center;
    padding-top:50px;
    text-align: justify;
    position:relative;
    height:500px;
  }


  .offeringPart{
    text-align:center;
    width:300px;
    margin-left:calc((100% - 900px)/4);/*n+1*/
    position:relative;
    float:left;
    padding-bottom:50px;
  }

  @media only screen and (max-width: 900px) {
  .offeringPart {
    width:100%;
    margin-left:0;
    float:none;
  }
}
